.form-container {
    display: flex;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.form-inline {
    width: 100%;
}
  
.form-group {
    width: 90%;
}
  
.input-group {
    width: 90% !important;
}

.form-control {
    width: 50% !important;
}

.img {
    border-style: inset;
    margin-left: 10%;
    width: 35%;
}

.job-table {
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
}
